.formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid var(--mainColor);
    width: 25%;
    border-radius: 10px;
    padding: 5px;
    margin: 30px auto;
}

.formCadastro input {
    border: 1px solid var(--mainColor);
    padding: 3px;
    border-radius: 3px;
}

.erro {
    display: none;
    font-size: small;
    color: var(--errorColor);
}