.formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid var(--mainColor);
    width: 40%;
    border-radius: 10px;
    padding: 5px;
}

.formCadastro input {
    border: 1px solid var(--mainColor);
}
