.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lista {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
}

.data {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid white;
    border-radius: 5px;
}

.data li {
    list-style: none;
}

.post {
    display: flex;
    flex-direction:column;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px;
}

#divPost {
    display: none;
    flex-direction: column;
}

.botao {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteCard {
    display: none;
    flex-direction: column;
    width: 20%;
    height: auto;
    padding: 10px;
    position: fixed;
    right: 40%;
    top: 40%;
    border: 1px solid white;
    border-radius:5px;
    background-color: black;
}

.editarCard {
    display: none;
    width: 100%;
}

.mostrarCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}