

.lista {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 1px solid white; */
    border-radius: 5px;
}

.data {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
}

.data h4 {
    margin: 10px auto 0px auto;
    font-size: medium;
    font-weight: bold;
}

.data ul {
    list-style: none;
    padding-left: 20px;
}

.data ul li {
    margin: 5px 0px;
    cursor: pointer;
}

.data li ul li:hover {
    text-decoration: underline;
}

.listaDatas {
    display: none;
}

.post {
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--mainColor);
    border-radius: 10px;
    text-justify: newspaper;
}

#divPost {
    display: none;
    flex-direction: column;
    width: 94%;
}

.post h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.post .visualizacoes {
    font-size: medium;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 0px 0px 5px;
    color: #444;
    border: 1px solid #444;
    border-radius: 3px;
    justify-content: flex-end;
}

.post .visualizacoes img {
    background-color: var(--hoverColor);
}

#divNovoComentario {
    display: none;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.comentario {
    border-bottom: 1px solid var(--mainColor);
    padding: 5px 5px 15px 5px;
}

.criacao {
    font-size: small;
    margin-bottom: 5px;
}

.botao {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--hoverColor);
}

.deleteCard {
    display: none;
    flex-direction: column;
    width: 20%;
    height: auto;
    padding: 10px;
    position: fixed;
    right: 40%;
    top: 40%;
    border: 1px solid var(--mainColor);
    border-radius:5px;
    background-color: var(--backColor);
}

.editarCard {
    display: none;
    width: 100%;
}

.mostrarCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navegadorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mainColor);
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    height: 30px;
    width: 30px;
    border-left: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);
    cursor:pointer;
}

.navButton:hover {
    background-color: var(--hoverColor);
}

.navCard {
    display: none;
    flex-direction: column;
    width: 10%;
    height: auto;
    padding: 10px;
    position: fixed;
    left: 45%;
    top: 40%;
    border: 1px solid var(--mainColor);
    border-radius:5px;
    background-color: var(--backColor);
}

.navCard input {
    width: 94%;
    margin: 5px 0px;
}

.navCard button {
    width: 100%;
}