.lista {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction:column;
    width: 50%;
    margin: 10px;
    border: solid 1px black;
}

#divPost {
    display: none;
    flex-direction: column;
}

.botao {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}