:root {
    --backColor: black;
    --fontColor: white;
    --mainColor: white;
    --accentColor: darkTurquoise;
    --hoverColor: #333333;
    --errorColor: red;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--fontColor);
    background-color: var(--backColor);
    margin: 0px;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.svgLeft {
    position: absolute;
    top: 100px;
    z-index: -100;
}

.svgRight {
    position: absolute;
    right: 0%;
    top: 100px;
    z-index: -100;
}

.blocker {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(0,0,0,0.7);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid var(--mainColor);
    border-left: 1px solid var(--mainColor);
    border-right: 1px solid var(--mainColor);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: var(--fontColor);
    text-decoration: none;
}

.header li {
    display: flex;
    align-items: center;
    border: 1px solid var(--mainColor);
    height: 40px;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.header .loginButton {
    padding: 0px 10px;
}

.header li:hover {
    background-color: var(--hoverColor);
    outline: 1px solid var(--accentColor);
}

.footer {
    height: 100px;
    /* border-top: 1px solid white; */
    margin-top: 10px;
    padding: 5px;
}

.loginCard {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    height: auto;
    padding: 10px;
    position: fixed;
    right: 15%;
    top: 90px;
    border: 1px solid var(--mainColor);
    border-radius:5px;
    background-color: var(--backColor);
}

.loginCard span {
    color: var(--errorColor);
    font-size: small;
}

.imgRight {
    width: 150px;
    float: right;
}

.imgLeft {
    width: 150px;
    float: left;
}