
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
}

#loginBlocker {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(0,0,0,0.7);
    display: none;
    position: absolute;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid white;
}

.header ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    height: 100px;
    border-top: 1px solid white;
    margin-top: 10px;
    padding: 5px;
}

.loginCard {
    display: none;
    flex-direction: column;
    width: 20%;
    height: 20%;
    padding: 5px;
    position: fixed;
    right: 20px;
    top: 70px;
    border: 1px solid white;
    border-radius:5px;
    background-color: black;
}

.loginCard span {
    color: red;
    font-size: small;
}